apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: task-pubsub
  namespace: default
spec:
  type: pubsub.kafka
  version: v1
  metadata:
  - name: brokers
    value: "kafka-cluster-kafka-bootstrap:9092"
  - name: consumerGroup
    value: "todo-chatbot-group"
  - name: authType
    value: "none"
  - name: disableTls
    value: "true"
