[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "openai>=2.14.0",
    "openai-agents>=0.6.4",
    "sqlalchemy>=2.0.45",
]
